{{ define "main" }}
    <p><strong class="text-amber-100">A full stack developer with 18+ years of professional experience.</strong></p>
    <p class="mt-3">A clear and effective communicator able to gauge, decipher and understand clients' requirements then to design, build and deploy websites and web applications that exceed expectations.</p>

    <p class="mt-3">10+ years' experience with Laravel.</p>
    <p>15+ years' experience with OOP PHP.</p>
    <p>20+ years' experience with HTML, CSS and Javascript.</p>

    <a href="docs/scott_brown-cv.pdf" class="inline-block border px-3 py-2 mt-6 hover:text-slate-800 hover:bg-slate-200" download>Download CV</a>

    <h3 class="font-headings text-2xl mt-6">Skills</h3>

    <div class="grid grid-cols-2 gap-8">
        <div>
            <h4 class="font-headings text-lg mt-3">Languages &amp; Frameworks</h4>

            <ul class="mt-1">
                <li class="font-bold">HTML</li>
                <li class="font-bold">PHP</li>
                <li>Laravel</li>
                <li>Livewire</li>
                <li>Inertia</li>
                <li>PHPUnit/Pest</li>
                <li>Wordpress</li>
                <li class="font-bold">Javascript</li>
                <li>React</li>
                <li>Alpine</li>
                <li>jQuery</li>
                <li class="font-bold">CSS</li>
                <li>Tailwind</li>
                <li>Bootstrap</li>
                <li>SQL</li>
            </ul>
        </div>
        
        <div>
            <h4 class="font-headings text-lg mt-3">Design</h4>

            <ul class="mt-1">
                <li>Photoshop</li>
                <li>Illustrator</li>
                <li>Lightroom Classic</li>
                <li>Photography</li>
            </ul>
        </div>
    </div>
    
    <h3 class="font-headings text-2xl mt-6">GitHub links</h3>

    <p class="mt-3 flex gap-6">
        <a href="https://github.com/scottbox" class="border px-3 py-2 hover:text-slate-800 hover:bg-slate-200">Personal GitHub</a>
    </p>
    
    <h3 class="font-headings text-2xl mt-6">Employment History</h3>

    <h4 class="font-headings text-lg mt-3">UKCaravans4Hire, 2023 - Present</h4>
	<h5>Senior Web Developer (June 2024 - Present)</h5>
	<h6 class="text-sm">Web Developer (November 2023 - May 2024)</h6>

    <h5 class="text-lg mt-3">Key Achievements</h5>

    <p class="mt-3">Integrating the Hubspot CRM via API to handle historic and real-time transfer of data to help the marketing team to target their communications more effectively.</p>
    <p class="mt-3">Implementing functionality to enable caravan owners remain compliant with local and national licensing and tax laws.</p>
    <p class="mt-3">Being part of a team, collaborating on decisions in regards to the future tech stack, reviewing others' code and guiding less experienced developers.</p>
    
    <h4 class="font-headings text-lg mt-3">LSi Ltd, 2007 - 2023</h4>
	<h5>Lead Developer (April 2017 - November 2023)</h5>
	<h6 class="text-sm">Web Developer (February 2011 - April 2017)</h5>
	<h6 class="text-sm">Web Designer (November 2007 - February 2011)</h5>

    <p class="mt-3">Creating websites, web applications and APIs for the company and its clients.</p>

    <p class="mt-3">After many years at LSi Ltd, I felt I needed a change of scenery and the opportunity to work with other developers with a similar level of experience to my own. I maintain a close relationship with LSi and still work with them on a consultancy basis.</p>

    <h5 class="text-lg mt-3">Key Achievements</h5>

    <p class="mt-3">Taking a company with a negligible online presence to one that currently possesses and maintains 50+ websites for a diverse array of national and international clients built on varying technologies.</p>
    <p class="mt-3">Controlling all technical decision making when it comes to web infrastructure, moving from basic static shared hosting and FTP transfer to a fully-cloud based, database and/or API driven, continuous development methodology.</p>
    <p class="mt-3">Creating an integrated, themeable content management and shopping basket system able to support retail and business-to-business websites for companies as diverse as LNER, Jägermeister and Fujitsu.</p>
    <p class="mt-3">Built bespoke web applications for use internally and externally to improve efficiency through automation and data preparation, reformatting and auto-reporting.</p>
    <p class="mt-3">Being an integral part of a team, linking sales, marketing, graphic design, print and distribution.</p>
    <p class="mt-3">Contributing as part of a team to formulate and build the retail systems that offer print-ready artwork to the internal print house.</p>
    <p class="mt-3">Being a mentor and guide for younger developers as they learn and improve.</p>

    <h4 class="font-headings text-lg mt-6">Aquarline Ltd, 2006 - 2007</h4>
	<h5>Web Developer</h5>

    <p class="mt-3">Creating a business-to-business wholesale website and building a retail presence.</p>

    <h5 class="text-lg mt-3">Key Achievements</h5>

    <p class="mt-3">Designing, building and maintaining two brand new websites using a technology stack I'd not encountered before.</p>
    <p class="mt-3">Learning PHP and database-driven website design.</p>
    <p class="mt-3">Photographing and Photoshopping products to create a 16 page print catalogue.</p>
    <p class="mt-3">Coordinating a team in multiple locations from the warehouse to shop front to ensure orders were picked, packed and dispatched efficiently.</p>

    <h3 class="font-headings text-2xl mt-6">Selected happy clients</h3>

    <div class="flex flex-wrap mt-3 -ml-4 lg:-mr-32">
        {{ range os.ReadDir "static/images/client-logos" }}
            <img src="images/client-logos/{{ .Name }}" alt="{{ title (humanize (replace .Name ".png" "")) }}" class="p-4 h-20">
        {{ end }}
    </div>

    <h3 class="font-headings text-2xl mt-6">Hobbies &amp; Interests</h3>

    <p class="mt-3">I enjoy hiking and photography and have, in the past, kept websites featuring these using various technologies. I enjoy playing, watching and composing music. I am a fan of many different sports.</p>

    <h3 class="font-headings text-2xl mt-6">Get in contact</h3>

    <p class="mt-3">
        Feel free to send an email to me at
        <script>
            id = 'scott';
            domain = 'scottbrown.me.uk';
            document.write('<a href=\"mailto:' + id + '@' + domain + '\" class="text-blue-300 hover:text-amber-100">' + id + '@' + domain + '</a>');
        </script>.
    </p>
{{ end }}